@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap");

:root {
	--font-family: "Roboto", sans-serif;
	--font-size: 16px;
	--green: #255d6a;
	--bgMain: rgb(226, 226, 226);
	--transition: 0.2s all linear;
	--medium: 970px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.float::after {
	display: block;
	content: "";
	clear: both;
}
body {
	font-family: var(--font-family);
}
h1,
h2,
h3,
h4 {
	color: var(--green);
	text-transform: uppercase;
}
/*-----HEADER-----*/
header {
	/* border: 1px solid red; */
	padding: 100px 0;
}

header h1 {
	text-align: center;
	margin: 0 0 50px 0;
	font-weight: bold;
	font-size: 2.3rem;
}
header article {
	border: 1px solid green;
	width: 48%;
	float: left;
}
header article:last-child {
	float: right;
}

header article img {
	width: 100%;
	display: block;
}
